/* Background */
nav{
    font-family: 'Lato', Arial, sans-serif;
    font-size:16px;
    background: darkslategrey;
}

.low-opacity-bg-image {
    background-image: url("");
}

.Portfolio{
    color: white;
}

ul {
    color:white;

}

li {
    color:white;
}

.Technical{
    color:white;
}
.About {
    color:white;
}

.navbar-brand {
    color:white;
}

.carousel {
    color:white;
}

.Intro {
    color:white;
    font-size: xx-large;

}

.navbar-nav {
    color:white;
}

/*    background-size: 400% 400%;*/
/*    animation: gradient 15s ease infinite;*/
/*}*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family:'Alfa Slab One', "Verdana";*/
/*}*/
/*body{*/
/*    display:flow;*/
/*    justify-content: center;*/
/*}*/
body {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    background: darkslategrey;
}
    /*background: linear-gradient(-50deg, #a9a9a9, darkslategrey, whitesmoke);*/
/*    background-size: 400% 400%;*/
/*    animation: gradient 15s ease infinite;*/
/*    height: 100vh;*/
/*}*/

/*@keyframes pop-out-to-right {*/
/*    0% {*/
/*        background-position: 50%;*/
/*    }*/

/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/

/*    100% {*/
/*        background-position: 50%;*/
/*    }*/
/*}*/

/*.container-2{*/
/*    width: 50%;*/
/*    height: 250px;*/
/*}*/

/*@media all and (min-width: 900px ) {*/
/*}*/
.nav-link{
    color:white;
}

.fa-solid{
    color:white;
}

.fa-brands{
    color:white;
}
.container-3{
    width: 25%;
    height: 50vh;
    display: flow;
}

.form{
    padding-bottom: 10%;
    width: 90%;
    max-width: 600px;
    justify-content: space-evenly;
}

.input-group{
    margin-bottom: 30px;
}
input, textarea{
    width:100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 20px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
}
button{
    padding:10px 0;
    color: black;
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top:-35px;
    font-size:14px;
}

.nav-item-1{
    padding: 25px;
}